.itemButton > div {
  display: flex;
  height: 1.5rem;
  align-items: baseline;
  gap: 0.25rem;
}

.itemButton > div > div {
  height: 1.5rem;
  display: flex;
  align-items: center;
}

.itemButton > div svg {
  transition: all 0.3s ease-in-out;
  max-width: 1.2rem;
  max-height: 1.2rem;
  top: 0.2rem;
  position: relative;
}

.open{
  transform: rotate(180deg);
}