/* NavBar */

.nav {
  width: 100%;
  height: 100vh;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: white;
}

@media (min-width: 800px) {
  .nav {
    height: auto;
    top: 0;
    position: sticky;
    flex-direction: row;
    gap: 1rem;
  }
}

.nav svg {
  display: block;
}

.nav a {
  text-decoration: none;
  color: var(--text-color);
}

/* NavBar */

/* Dorahacks Icon, with button to expand/collapse on mobile */

.nav > div:first-child {
  flex: 0 0 auto;
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  position: sticky;
  background-color: white;
  z-index: 1;
}

.nav > div:first-child svg {
  font-size: 1.5rem;
}

@media (min-width: 800px) {
  .nav > div:first-child {
    position: static;
    z-index: 0;
    width: auto;
  }
}

/* Dorahacks Icon, with button to expand/collapse on mobile */

/* Outmost Menu Bar */

.nav > menu {
  flex: 1 1 auto;
  overflow: auto;
}

@media (min-width: 800px) {
  .nav > menu {
    height: auto;
    overflow: visible;
  }
}

.menu {
  gap: 0;
  display: none;
  width: 100%;
  flex-direction: column;
  background-color: white;
}

@media (min-width: 800px) {
  .menu {
    display: flex;
    flex-direction: row;
  }
}

.open {
  display: block;
}

@media (min-width: 800px) {
  .open {
    display: flex;
  }
}

/* Outmost Menu Bar */

/* First Level MenuItem Styles */

.menu > li {
  padding: 1rem;
  cursor: pointer;
  border-bottom: 1px solid var(--gray);
}

@media (min-width: 800px) {
  menu > li:hover > * {
    color: var(--primary-color-text);
  }
}

/* First Level MenuItem Styles */


/* All Level MenuItem Styles */

.menu li {
  position: relative;
  display: block;
  font-weight: bold;
}

@media (min-width: 800px) {
  .menu li {
    flex-direction: row;
    border-bottom: none;
  }
}

.menu li p {
  font-size: 0.9rem;
  font-weight: normal;
}

/* First Level MenuItem Styles */