.subMenu {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: var(--box-shadow);
  width: 100%;
  min-width: 20rem;
}

.subMenu p {
  margin-top: 0.25rem;
}

.right {
  top: 0;
  left: 100%
}

.down {
  top: 100%;
  left: 0;
}

.open {
  display: block;
}
