.subMenu {
  display: none;
  background-color: white;
  width: 100%;
  padding-left: 1rem;
}

@media (min-width: 800px) {
  .subMenu {
    position: absolute;
    box-shadow: var(--box-shadow);
    min-width: 20rem;
    padding-left: 0;
  }
}

.subMenu p {
  margin-top: 0.25rem;
  margin-bottom: 0;
}

.subMenu li {
  margin-bottom: 2rem;
}

.subMenu li:last-child {
  margin-bottom: 1rem;
}

@media (min-width: 800px) {
  .subMenu li {
    padding: 1rem;
    margin-bottom: 0;
  }
  .subMenu li:last-child {
    margin-bottom: 0;
  }

  .subMenu li:hover {
    background-color: var(--primary-color-back);
  }
}

.right {
  top: 0;
  left: 100%
}

.down {
  top: 100%;
  left: 0;
}

.open {
  display: block;
}
