:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text-color: #222;
  --gray: #ddd;

  --primary-color: #ff761c;
  --primary-color-text: #ab2200;
  --primary-color-background: #ff761c10;
  --primary-color-hover: #ff6500;
  --box-shadow:
  0.6px 0.6px 0.8px rgba(0, 0, 0, 0.02),
  1.3px 1.3px 1.9px rgba(0, 0, 0, 0.028),
  2.5px 2.5px 3.6px rgba(0, 0, 0, 0.035),
  4.5px 4.5px 6.5px rgba(0, 0, 0, 0.042),
  8.4px 8.4px 12.1px rgba(0, 0, 0, 0.05),
  20px 20px 29px rgba(0, 0, 0, 0.07)
;
}

* {
  min-height: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

nav {
  top: 0;
  position: sticky;
}

li {
  display: block;
  font-weight: bold;
}

menu {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

img, svg {
  display: block;
}

button {
  font-family: unset;
  border: unset;
  background-color: unset;
  font-size: unset;
  font-weight: unset;
  padding: unset;
  text-align: left;
  cursor: pointer;
}